input {
  &[type='text'],
  &[type='email'],
  &[type='password'],
  &[type='number'],
  &[type='file'] {
    display: block;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
    width: 320px;
    max-width: 100%;
    margin-bottom: 16px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    font-size: 16px;
    height: 46px;
    &::placeholder {
      color: #aaa;
    }
    &:focus {
      border-color: #ccc;
    }
  }
  &[type='file'] {
    padding: 10px 20px;
  }
}

select {
  display: block;
  border: 1px solid #dfdfdf;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
  width: 320px;
  max-width: 100%;
  margin-bottom: 16px;
  background-color: #fff;
  font-size: 16px;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  cursor: pointer;
}

.select {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 18px;
    right: 16px;
    height: 0;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #a9a9a9;
  }
  &.disabled {
    // color: #aaa;
    opacity: 0.6;
  }
}

.btn {
  border: none;
  outline: none;
  background-color: $green;
  color: #fff;
  padding: 14px 20px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  border-radius: 4px;
  // box-shadow: 0 3px #368739;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover {
    box-shadow: 0 2px 12px rgba($green, 0.24);
  }
}
